*{
    margin : 0;
    padding:  0;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)), url(images/1411915.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
    opacity: 0.5;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
    
}
.nav-links ul li a{
    opacity: 0.6;
    color: white;
    text-decoration: none;
    font-size: 13px;
    
}
.nav-links ul li::after{
    content: ''; 
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.4s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    color: snow;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    
}
.text-box h1{
    opacity: 0.4;
    font-size: 50px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.hero{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 12px 34px;
}
.hero:hover{
    border: 1px solid black;
    background: black;
    transition: 0s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position:absolute;
        background: #801b1b;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 20px;
    }
}

.empire{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 25px;
    font-weight: 600;
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
}
.empire-col{
    flex-basis: 300px;
    background: #D3D3D3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    
}
.empire-col:hover{
    box-shadow: 0 0 20px 0px black;
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*-------quarters-------*/
.headquarters{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 20px;
}
.quarters-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.quarters-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.3);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: black;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.sectors{
    margin:auto;
}
.sectors h1{
    text-align: center;
    font-size: 30px;
}
.sectors p{
    text-align: center;
    font-size: 20px;
}
.row1{
    display: flex;
    width: 100%;
}
.box1{
    flex-basis: 50%;
}
.box1 img{
    width: 100%;
    height: 500px;
    margin: 30px;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px;
}
.box2 p{;
    text-align: center;
    margin: 30px; 
    font-size: 25px;
    padding-top: 30%; 
    
}
.row2{
    display: flex;
    width: 100%;
}
.box3{
    flex-basis: 50%;
}
.box3 img{
    width: 100%;
    height: 500px;
    margin: 30px;
    transition: 0.5s;
    border-radius: 10px;
}
.box4 p{
    text-align: left;
    margin: 65px;
    font-size: 25px;
    display: inline-block;
    padding-top: 30%;
}
.row3{
    display: flex;
    width: 100%;
}
.box5{
    flex-basis: 50%;
}
.box5 img{
    width: 100%;
    height: 500px;
    margin: 30px;
    transition: 0.5s;
    border-radius: 10px;
}
.box6 p{
    text-align: left;
    margin: 65px;
    line-height: normal;
    padding-top: 30%;
    font-size: 25px;
}
.box1 img:hover{
    opacity: 0.5;
}
.box3 img:hover{
    opacity: 0.5;
}
.box5 img:hover{
    opacity: 0.5;
}
.end{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/96945.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    color: white;
}

